<div id="MoipWidget" data-token="<%= @order.moip_token %>" callback-method-success="funcao_sucesso" callback-method-error="funcao_falha"></div>
<% param_prefix = "payment_source[#{payment_method.id}]" %>
<%= hidden_field_tag :order_moip_boleto_url, nil, :name => "order[moip_boleto_url]" %>
<%= hidden_field_tag :order_moip_debito_url, nil, :name => "order[moip_debito_url]" %>
<%= hidden_field_tag :order_moip_code, nil, :name => "order[moip_code]" %>
<%= hidden_field_tag :order_moip_status, nil, :name => "order[moip_status]" %>

<h2>Forma de Pagameto</h2>
<p>
<!--
  <label class="payment-type-selector boleto">
    <%= radio_button_tag :payment_type, "boleto" %>
  </label>
  <br>
  <label class="payment-type-selector debito">
    <%= radio_button_tag :payment_type, "debito" %>
  </label>
  <br>
  -->
  <label class="payment-type-selector cartao">
    <%= radio_button_tag :payment_type, "cartao_de_credito", true %>
  </label>
</p>

<!--
<div id="boleto" class="moip_payment">
</div>
-->
<div id="cartao_de_credito" class="moip_payment">
  <h3>Instituiçao</h3>
  <p>
    <label class="credit-card-selector">
      <%= radio_button_tag :instituicao, "Visa" %>
      <span class="flag visa">VISA</span>
    </label>
    <label class="credit-card-selector">
      <%= radio_button_tag :instituicao, "Mastercard" %>
      <span class="flag mastercard">MASTERCARD</span>
    </label>
    <label class="credit-card-selector">
      <%= radio_button_tag :instituicao, "Hipercard" %>
      <span class="flag hipercard">HIPERCARD</span>
    </label>
    <label class="credit-card-selector">
      <%= radio_button_tag :instituicao, "AmericanExpress" %>
      <span class="flag americanexpress">AMERICANEXPRESS</span>
    </label>
    <label class="credit-card-selector">
      <%= radio_button_tag :instituicao, "Diners" %>
      <span class="flag diners">DINERS</span>
    </label>
  </p>
  <p>
  <%= label_tag :numero, "Número" %><br/>
    <%= text_field_tag :numero %>
  </p>

  <p>
    <%= label_tag :codigo_seguranca, "Codigo de segurança" %><br/>
    <%= text_field_tag :codigo_seguranca, "", class:"cod-seguranca"  %>
    <span class="cod-seguranca-helper">minicvv</span>
  </p>

  <p>
    <%= label_tag :expiracao, "Validade" %><br/>

    <% months = (1..12).to_a.map {|i| [i,i] } %>
    <% current_year = Date.today.year %>
    <% years = (0..10).to_a.map { |i| [current_year+i, current_year+i] } %>

    <%= select_tag "expiration_month", options_for_select(months), onchange:"setExpirationDate()" %>
    <%= select_tag "expiration_year", options_for_select(years), onchange:"setExpirationDate()" %>

    <%= hidden_field_tag :expiracao, nil %>

    <script type="text/javascript">
      function setExpirationDate() {
        var month = $("#expiration_month").val();
        if(month.length == 1) {
          month = "0"+month;
        }

        var year = $("#expiration_year").val();
        $("#expiracao").val(month+"/"+year);
      }
      setExpirationDate();
    </script>
  </p>

  <p>
    <%= label_tag :nome, "Nome" %> (Como está no cartão)<br/>
    <%= text_field_tag :nome %>
  </p>

  <p>
    <%= label_tag :data_nascimento, "Data de nascimento" %><br/>
    <%= text_field_tag :data_nascimento %>
  </p>

  <p>
    <%= label_tag :telefone, "Telefone" %><br/>
    <%= text_field_tag :telefone %>
  </p>

  <p>
    <%= label_tag :identidade, "CPF" %><br/>
    <%= text_field_tag :identidade %>
  </p>
</div>
<!--
<div id="debito" class="moip_payment">
  <h3>Instituiçao</h3>
  <p>
    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "BancoDoBrasil" %>
      <span class="debit-flag banco-do-brasil">Banco do Brasil</span>
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "Bradesco" %>
      <span class="debit-flag bradesco">Bradesco</span>
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :instituicao, "Itau" %>
      <span class="debit-flag itau">Itaú</span>
    <% end %>
  </p>
</div>
-->
<div id="loading-div-background">
    <div id="loading-div" class="ui-corner-all" >
      <img style="height:20px;margin:30px;" src="/assets/payment_loading.gif" alt="Loading.."/>
      <h2 style="color:gray;font-weight:normal;">Aguarde enquanto seu pagamento é processado....</h2>
     </div>
</div>
